asp/Projekt.MS3.ASP/Service References/LibraryService/LibraryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ultrabook/webservice/LibraryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projekt.MS3.WebService" />
  <xs:element name="getBookInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Projekt.MS3.WebService" minOccurs="0" name="getBookInfoResult" nillable="true" type="q1:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBooksListShort">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBooksListShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Projekt.MS3.WebService" minOccurs="0" name="getBooksListShortResult" nillable="true" type="q2:ArrayOfBookForListShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBooksListLong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBooksListLongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Projekt.MS3.WebService" minOccurs="0" name="getBooksListLongResult" nillable="true" type="q3:ArrayOfBookForListLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCredentials">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkCredentialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkCredentialsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Projekt.MS3.WebService" minOccurs="0" name="book" nillable="true" type="q4:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Projekt.MS3.WebService" minOccurs="0" name="book" nillable="true" type="q5:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchBooksSimple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchBooksSimpleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Projekt.MS3.WebService" minOccurs="0" name="searchBooksSimpleResult" nillable="true" type="q6:ArrayOfBookForListShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchBooksAdvanced">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleDesc" type="xs:boolean" />
        <xs:element minOccurs="0" name="authors" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publisher" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="binding" type="xs:int" />
        <xs:element minOccurs="0" name="pages" type="xs:int" />
        <xs:element minOccurs="0" name="pagesSearchType" type="xs:int" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchBooksAdvancedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Projekt.MS3.WebService" minOccurs="0" name="searchBooksAdvancedResult" nillable="true" type="q7:ArrayOfBookForListShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>